/* myBtn  */
#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: #f0edf1;
    color: #c71407;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    
    @media screen and (max-width: 767px) {
       bottom: 20px;
       right: 20px;    
    }
}

#myBtn:hover {
    background-color: #c71407;
    color:#f0edf1;
}

#myBtn>i {
    line-height: normal;
    font-size: 30px;
}