.container {
  margin: 0 auto;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  @media (min-width: 768px) {
    padding: 0 32px;
  }
  @media (min-width: 320px) {
    min-width: 320px;
  }
  @media (min-width: 768px) {
    min-width: 768px;
  }
  @media (min-width: 1280px) {
    width: 1280px;
  }
}
