.footer {
    width: 100%;
    position: absolute;
    // padding-top: 60px;
    background-color: #F7F7F7;
    text-align: center;
    // @media screen and (max-width: 767px){
    //    padding-top: 40px;
    // }
}
.footer-nav__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    margin-top: 29px;
    margin-bottom: 29px;
    @media screen and (max-width: 767px){
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 28px;
        margin-bottom: 28px;
     }
    @media screen and (min-width: 1280px){
         margin-top: 30px;
         margin-bottom: 30px;
     }
}
.footer-nav__item {
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #545454;
    @media screen and (max-width: 767px){
        &:first-child {
            margin-bottom: 10px;
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
     }
@media screen and (min-width: 1280px){
    font-size: 16px;
    line-height: 1.19;
 }
}

