.library-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.library-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.library-box {
  background-color: red;
  width: 300px;
  height: 300px;
}

.lib-modal-film__vote {
  margin-left: 5px;
  font-size: 12px;
  display: inline-flex;
  width: 36px;
  height: 20px;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
}
