html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}

footer {
  max-height: 100px;
  flex: 0 0 100px;

  @media screen and (min-width: 768px) {
    max-height: 79px;
    flex: 0 0 79px;
  }
  @media screen and (min-width: 1280px) {
    max-height: 77px;
    flex: 0 0 77px;
  }
}
