.my-library {
  background-image: url(../images/my-library/lib_BG_320-min.jpg);
  max-height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/my-library/lib_BG_320@2x-min.jpg);
  }

  @media (min-width: 768px) {
    background-image: url(../images/my-library/lib_BG_768-min.jpg);
    max-height: 219px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/my-library/lib_BG_768@2x-min.jpg);
    }
  }

  @media (min-width: 1280px) {
    background-image: url(../images/my-library/lib_BG_1280-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/my-library/lib_BG_1280@2x-min.jpg);
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 40px;
  margin-bottom: 66px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header__logo {
  display: flex;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  align-items: baseline;
}

.my-library__icon-film {
  margin-right: 10px;
}

.header__logo--name {
  display: none;

  @media screen and (min-width: 768px) {
    align-items: baseline;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;

    margin: 0;
    margin-right: auto;

    color: #ffffff;
  }
}

.header__nav-list {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin: 0;

  @media screen and (min-width: 768px) {
    padding-right: 32px;
  }
}

.header__nav-list--item {
  text-decoration: none;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  display: flex;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.header__nav-list--home {
  text-decoration: none;
  color: #ffffff;
}

.header__nav-border {
  &:hover,
  &:focus {
    border-bottom: 3px solid #ff001b;
  }
}

.header__btn {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding-bottom: 62px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}

.header__btn--item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  width: 130px;

  padding: 13px 41px 11px 41px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  background-color: transparent;

  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 5px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ff6b01;
    border: none;
  }

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 44px;
  }
  @media screen and (min-width: 1280px) {
    width: 147px;
  }
}
