$text-color: #000;
$brand-orange-color: #ff6b08;
$primary-white-color: #fff;

body .tui-page-btn:not(.tui-first, .tui-last) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
body .tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid $brand-orange-color;
  border-left: none;
}

body .tui-pagination .tui-first+.tui-prev, .tui-pagination .tui-next+.tui-last {
border: 1px solid #ddd;
}

body .tui-pagination .tui-first,
body .tui-pagination .tui-last
{
  display: none;
}

body .tui-pagination .tui-next {
  margin-left: 0;
}

body .tui-pagination .tui-prev {
  margin-right: 0;
}

body .tui-pagination .tui-page-btn {
  margin-right: 5px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #000;
  color: $text-color;
  font-family: var(--main-font);
  font-family: 'Roboto';
  border: 1px solid #ddd;
  transition: all 250ms ease-in-out;
  &:hover {
    background: $brand-orange-color;
    color: $primary-white-color;
  }
}

body .tui-pagination .tui-is-selected {
  color: $primary-white-color;
  background: $brand-orange-color;
  border-color: $brand-orange-color;
}

.tui-pagination .tui-is-disabled:hover {
  background: transparent;
  border: none;
}

.tui-pagination .hide-first,
.tui-pagination .hide-last {
  background: rgba(247, 247, 247, 0.5);
}

.tui-pagination .tui-first-is-ellip:hover,
.tui-pagination .tui-last-is-ellip:hover,
.tui-pagination .hide-last:hover,
.tui-pagination .hide-first:hover {
  background: $brand-orange-color;
}

.tui-pagination .tui-prev-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .tui-next-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .hide-first:hover > .tui-ico-first,
.tui-pagination .hide-last:hover > .tui-ico-last {
  fill: $primary-white-color;
}

.tui-pagination .tui-ico-ellip {
  margin-top: 0;
}

.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  background-image: none;
}

.tui-pagination .tui-ico-ellip,
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last {
  width: 16px;
  height: 16px;
  fill: $text-color;
  transition: all 250ms ease-in-out;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid $brand-orange-color;
}
