#stuff {
  margin-bottom: 15px;
}
#stuff > * {
  display: none;
}
.pagination2 {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.pagination2 li {
  float: left;
  
}
.pagination2 li a {
  width: 40px;
  height: 40px;
  line-height: 36px;
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  
  
}
.pagination2 li a:hover {
  background: rgb(233, 227, 227);
  border-radius: 5px;
}
.pagination2 li a.active {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #ff6b08;
  color: #fff;
}
.pagination2 .disabled {
  opacity: 0.5;
  pointer-events: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link-arrow {
  background: #f7f7f7;
  border-radius: 5px;
}
