@import './common';
@import './container';

@import './utils/reset';
@import './utils/hidden';

@import './header';
@import './cardStyle';
@import './modal-film';
@import './footer';
@import './myLibraryHeader';
@import './my-library';
@import './library-container';
@import './indexFooter';

// стили модального окна ФУТЕР
@import './futer-modal';
@import './btnUp';
