<header>
  <div class="header__container">
    <div class="navigation">
      <a class="logo__link" href="./index.html">
        <svg class="logo" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-film-1"></use>
        </svg>
        <span class="logo__part">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">Home</li>
          <li class="nav__item"><a href="./my-library.html">my library</a></li>
        </ul>
      </nav>
    </div>

    <div class="search">
      <form class="search__form" action="">
        <input
          class="search__input"
          type="text"
          name="search"
          placeholder="Movie search"
          autocomplete="off"
        />
        <button class="btn__search" type="submit">
          <svg class="icon__search" width="12" height="12">
            <url href="/src/images/symbol-defs.svg#icon-search"></url>
          </svg>
        </button>
      </form>
    </div>
    <p class="search__correct">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</header>
