<div class="backdrop is-hidden" data-modal>
  <div class="modal-film">
    <button class="modal-film__close-btn" data-modal-close>
      <svg class="close" width="18" height="18">
        <use href="/src/images/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <div class="modal-film__wrapper">
      <img
        src="/src/images/mobile/modal_exmpl.jpg"
        alt=""
        class="modal-film__img"
      />
      <div class="modal-film__info-wrapper">
        <h2 class="modal-film__title">A FISTFUL OF LEAD</h2>
        <div class="modal-film__info">
          <ul class="modal-film__list list">
            <li class="modal-film__item">Vote / Votes</li>
            <li class="modal-film__item">Popularity</li>
            <li class="modal-film__item">Original Title</li>
            <li class="modal-film__item">Genre</li>
          </ul>
          <ul class="modal-film__list values list">
            <li class="modal-film__item">7.3 / 1260</li>
            <li class="modal-film__item">100.2</li>
            <li class="modal-film__item">A FISTFUL OF LEAD</li>
            <li class="modal-film__item">Western</li>
          </ul>
        </div>
        <h3 class="modal-film__about">About</h3>
        <p class="modal-film__desc">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="modal-film__btn-wrapper">
                    <button class="modal-film__btn js-btnWatched" value='0'>add to Watched</button>
                    <button class="modal-film__btn js-btnQueue" value='0'>add to queue</button>
                </div>
      </div>
    </div>
  </div>
</div>
