<div class="container">
  <div class="my-library">
    <div class="header__wrapper">
      <a href="#" class="header__logo">
        <svg class="my-library__icon-film" width="24" height="24">
          <use href="./images/my-library/symbol-defs.svg#icon-film-1"></use>
        </svg>
      </a>
      <p class="header__logo--name">Filmoteka
</p>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-list--item">Home</li>
          <li class="header__nav-list--item">My library</li>
        </ul>
      </nav>
    </div>

    <div class="header__btn">
      <button type="button" class="header__btn--item">Watched</button>
      <button type="button" class="header__btn--item">queue</button>
    </div>
  </div>
  </div>
</div>
